compute_environment: LOCAL_MACHINE
debug: false
deepspeed_config:
  deepspeed_config_file: /home/qcang/workspace/zc/qwen25vl/finetune_vla_annotator/ds_config.json
  zero3_init_flag: true
distributed_type: DEEPSPEED
dynamo_config:
  dynamo_backend: INDUCTOR
machine_rank: 0
main_training_function: main
num_machines: 1
num_processes: 4
rdzv_backend: static
same_network: true
use_cpu: false
enable_cpu_affinity: true